@media (min-width:300px) and (max-width: 450px){
    
    .menu{
        display: none;
    }

    #img-front{
        width: 150px;
        height: 150px;
        padding: 0px;
        margin: auto;
        
    }

    h1{
        font-size: 36px;
    }
}