@media (min-width:480px) and (max-width: 950px){
    
    .menu-links:hover{
        background-color: transparent;
        transition-duration: 0s;
    }

    #img-front{
        padding: 0px;
        margin: auto;
        
    }

    .projects{
        margin: 15px 0px;
        display: inline-block;
        padding: 5px 10px;
    }
}
